<!DOCTYPE html>
<html lang="pt-BR">

<% include('includes/head') %>

  <body>

    <%- include('includes/header') %>

    <main>
      <div class="container">

        <h1 class="text-center title">Agenda de Contatos</h1>
        <p class="text-center">Gerencie seus contatos abaixo</p>

        <% if (contacts.length === 0) { %>
          <div class="alert alert-info">
            Você ainda não possui contatos cadastrados.
          </div>
        <% } %>
  
        <%- include('includes/alert') %>
  
        <div class="row">
          <table class="table">
            <tr>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Telefone</th>
              <th>Email</th>
              <th colspan="2">Ações</th>
            </tr>       
            <% contacts.forEach(contact => { %>
              <tr>
                <td><%= contact.name %></td>
                <td><%= contact.lastName %></td>
                <td><%= contact.phone %></td>
                <td><%= contact.email %></td>
                <td><a class="text-edit" href="/contact/index/<%= contact._id %>">editar</a></td>
                <td><a class="text-danger" href="/contact/delete/<%= contact._id %>">apagar</a></td>
              </tr>
            <% }) %>   
            
          </table>
        </div>
      </div>
    </main>


    <%- include('includes/footer') %>
    <script src="/assets/js/bundle.js"></script>
  </body>

</html>